body{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#menu{
    font-size: 40px;
    color: rgb(13, 202, 240);
    position: absolute; 
    top: 40px;
    right: 40px;
    transition: all 1s;
    cursor: pointer;
}

#sidebar{
    width: 0px;
    height: 100vh;
    background-color: white;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
}

#top{
    height: 92vh;
}

#top a{
    display: block;
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    padding: 5px;
    font-size: 24px;
    padding: 20px;
}

#top a:hover{
    background-color: rgba(13, 202, 240,0.10);
    transition: all 0.8s;
}

#a{
    color: rgb(13, 202, 240);
    font-size: 30px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.5);
    letter-spacing: 5px;    
}

#c{
    color: black;
    font-size: 30px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.5);
    letter-spacing: 5px;    
}

#ac{
    padding: 20px;
    display: flex; justify-content: space-between; flex: nowrap;
}

#bottom{
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(13, 202, 240);
    width: 100%;
    text-align: center;
    display: flex; 
    justify-content: center; 
    flex: nowrap;
}

#bottom i{
    padding: 5px;
}

#xmark{
    color:red;
    font-size: 30px;
    cursor: pointer;
    display: flex !important;
    padding: 20px;
    transition: all 0.5s;
}

#xmark:hover{
    transform: rotate(360deg) !important;
}


@media(max-width:700px){
    #sidebar{
        width: 100vw;
        z-index: 1;
    }

    #menu{
        z-index: 0;
    }
}

